<!DOCTYPE html>
<html>
<head>
    <title>Vue版本个人信息系统</title>
    <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" />
    <script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>

</head>
<body>
    <div id="app">
   <!--  <p v-for="mydata in mydatas"> {{mydata.id }}{{mydata.name}}{{mydata.tel}}</p> -->
<!-- <form action="form_action.asp" method="get">
  <p>id: <input type="text" name="id" /></p>
  <p>name: <input type="text" name="name" /></p>
  <input type="submit" value="Submit" />
</form> -->
<!-- <form action="a.txt" method="post"> -->
  <label for="id">id</label>
  <input type="text" name="id" v-model:value="haha" />
  <label for="name">name</label>
  <input type="text" name="name" v-model:value="baba" />  
  <label for="tel">tel</label>
  <input type="text" name="tel"v-model:value="xixi" />
 <!--  <input type="submit" value="Submit"/> -->
<!-- </form> -->
<!-- {{haha}}
 -->  <input type="button" value="提交个人信息" v-on:click="tijiao1">

    <input type="text" v-model="my_data" />
        
        <button v-on:click="clickButton" class="hahaw" ref="hello">Click Me</button>
        <button id="wang">4444</button>
{{my_data}}


<table class="table table-striped">
        <thead>
          <tr>
            <th>id</th>
            <th>姓名</th>
            <th>电话</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <!-- 一开始使用上面的v-for，实现搜索功能时采用下面的v-for -->
          <tr v-for="mydata in mydatas">
            <td>{{mydata.id}}</td>
            <td>{{mydata.name}}</td>
            <td>{{mydata.tel}}</td>
            <!-- <td><router-link class="btn btn-default">详情</router-link></td> -->
            <td><a class="btn btn-default" href="">详情</a></td>
          </tr>
        </tbody>
      </table>



</div>
</body>
<!-- <script>
     new Vue({
         el:'#app',
        data:{
            // return{
            //     // ret:'',
            //     data:''
            // }
            mydatas:""
        },
        mounted(){
            this.$nextTick(()=>{
                var that=this;
                $.ajax({
                    type:"get",
                    url:"http://localhost:3301/list",
                    // data:{user_id:1},
                    success:function(backDate){
                        // that.ret=data.ret;
                        // that.data=data.data;
                        console.log(backDate)
                        that.mydatas=backDate;
                    }
                })
            })
        }

    })

</script> -->

<script type="text/javascript">
   var shili =  new Vue({
            el:'#app',
            data:{
               
                mydatas:"",
                my_data:"123",
              haha:"",
              baba:"",
              xixi:""
        },
            beforeCreate:function(){
                var url="http://fang1688.3w.dkys.org/list";
                var self=this;
                console.log(self)
                $.get(url,function(data){
                    // _self.data=eval("(" + data +")");
                    console.log(data)
                    // console.log(this)
                   self.mydatas =data
                })
            },
            // mounted(){console.log(this.$refs.hello)  },
        methods:{
            clickButton:function(){
                 // console.log(shili.$data)
              // console.log(this.$refs.hello)
              console.log(this.clickButton)
                this.my_data = "Wow! I'm changed!"
            },
        //     tijiao:function(){
        //         var arry = $("#form1").serializeArray()
        //          $.ajax({
        //     url: "http://localhost:3301/list",
        //     data: { jsondata: JSON.stringify(arry) },
        //     type:"post",
        //     success: function () {
        //        console.log("success")
        //     }
        // })
        //     }
        tijiao1(){
             var q =this.haha   
             var w =this.baba   
             var e =this.xixi 
             var f ={id:q,
                        name:w,
                        tel:e
                        } 
                        // console.log(f) 

//                         var data = JSON.stringify(f)
//  var xhr = new XMLHttpRequest();
//         xhr.open("post","http://fang1688.3w.dkys.org/list");
//         xhr.setRequestHeader("Content-type","application/json");
//         xhr.onload=function () {
//             console.log("执行完毕");
//             console.log(xhr.responseText);
//         }
//         xhr.send(data);
//         }

            $.ajax({
            url: "http://localhost:3000/list",
            data: f,
            type:"post",
            success: function () {
               console.log("success")
               // console.log(this)
            // window.location.reload(); 
            }
        })
            // console.log(this)
setTimeout( function(){ window.location.reload(); },10000 )
        }
}
          });
   var fff= document.getElementById("wang")
   console.log(fff)
   fff.onclick =function (){
    console.log(this)
    console.log("432334")
   }
</script>
</html>
